* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2p", cursive;
  background: rgb(2, 162, 152);
  background: linear-gradient(
    90deg,
    rgb(25, 216, 204) 0%,
    rgba(33, 246, 233, 1) 100%
  );
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5em;
  line-height: 1.5;
}

button {
  font-family: "Press Start 2p", cursive;
  font-size: 0.8rem;
  border: 3px solid black;
  padding: 0.5rem 1rem;
  background-color: rgb(245, 158, 158);
  box-shadow: inset -3px -3px 0 0 rgb(252, 124, 124);
  transition: all 0.1s ease-in;
}

nav button {
  margin: 0.5rem 1rem;
}



